<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sallary_structure.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @sallary_structure.amount %>
</p>

<p>
  <strong>Sallary component detail:</strong>
  <%= @sallary_structure.sallary_component_detail %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @sallary_structure.employee %>
</p>

<%= link_to 'Edit', edit_sallary_structure_path(@sallary_structure) %> |
<%= link_to 'Back', sallary_structures_path %>
