<%= simple_form_for @employee do |f| %>
  <div class="add-user-form-contain">
    <div class="fix-title-box">
      <h3 class="section-title">NEW EMPLOYEE</h3>
      <div class="section-content">
        <div class="row">
          <div class="col-md-3">
            <%= f.input :user_name, label: "User Name" %>
          </div>
          <div class="col-md-3">
              <%= f.input :email %>
          </div>
          <div class="col-md-3">
              <%= f.input :emp_id, label: 'Employee Id' %>
          </div>
        
      <%= f.fields_for :user_detail do |ud|%>
        <div class="col-md-3">
         <%= ud.input :user_type_id,:collection => UserType.all,:label_method => :name,:value_method => :id,:label => "User Type" ,:include_blank => true %>
        </div>
      </div>
    </div>
        <div class="section-content">
          <div class="row">
            <div class="col-xs-12 dob">
              <% ud.input :dob, start_year: 1900, end_year: Date.today.year, label: "Date of Birth" %>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3">
              <%= ud.input :first_name %>
            </div>
            <div class="col-xs-3">
              <%= ud.input :last_name %>
            </div>
            <div class="col-xs-3">
              <%= ud.input :gender, as: :select, include_blank: false, collection: Employee::GENDERS.map { |g| [g.titleize, g] } %>
            </div>
          </div>
          
          <div class="row">
            <div class="col-xs-3">
              <%= ud.input :official_phone, label: "Phone Primary" %>
            </div>
            <div class="col-xs-3">
              <%= ud.input :official_mobile, label: "Phone Secondary" %>
            </div>
            <div class="col-xs-3">
              <%= ud.input :blood_group_id,:collection => BloodGroup.all,:label_method => :name,:value_method => :id,:label => "Blood Group" ,:include_blank => true %>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3">
              <%= ud.input :fax, label: "Fax" %>
            </div>
            <div class="col-xs-3">
              <%= ud.input :pan_no, label: "Pan Num" %>
            </div>
            <div class="col-xs-3">
            <%= ud.input :department_id,:collection => Department.all,:label_method => :name,:value_method => :id,:label => "Department" ,:include_blank => true %>
            </div>
          </div>
        <div class="row">
          <div class="col-xs-3">
            <%= ud.input :designation_id,:collection => Designation.all,:label_method => :name,:value_method => :id,:label => "Designation" ,:include_blank => true %>
          </div>
          <div class="col-xs-3">
            <%= ud.input :grade_id,:collection => Grade.all,:label_method => :name,:value_method => :id,:label => "Grade" ,:include_blank => true %>
          </div>
          <div class="col-xs-3">
            <%= ud.input :religion_id,:collection => Religion.all,:label_method => :name,:value_method => :id,:label => "Religion" ,:include_blank => true %>
          </div>
        </div>
      <% end %>
      <% f.fields_for :user_profession_detail do |upd|%>  
        <div class="section-content">
          <div class="row">
            <div class="col-xs-4">
              <%= upd.input :doj, label: "Date Of Joining" %>
            </div>
            <div class="col-xs-4">
                <%= upd.input :status %>
            </div>
          </div>
        </div>
      <%end%>

    </div>
  </div>
  <hr/>
      <%= f.button :submit %>
<% end %>