<p id="notice"><%= notice %></p>

<h1>Listing Sallary Component Details</h1>

<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Print name</th>
      <th>Position</th>
      <th>Component type</th>
      <th>Amount/Percentage</th>
      <th>Status</th>
      <th>Amt/per value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sallary_component_details.each do |sallary_component_detail| %>
      <tr>
        <td><%= sallary_component_detail.name %></td>
        <td><%= sallary_component_detail.print_name %></td>
        <td><%= sallary_component_detail.position%></td>
        <td><%= sallary_component_detail.component_type %></td>
        <td><%= sallary_component_detail.amt_per %></td>
        <td><%= sallary_component_detail.status %></td>
        <td><%= sallary_component_detail.amt_per_value %></td>
        <td><% link_to 'Show', sallary_component_detail %></td>
        <td><%= link_to 'Edit', edit_sallary_component_detail_path(sallary_component_detail) %></td>
        <td><%= link_to 'Destroy', sallary_component_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sallary component detail', new_sallary_component_detail_path %>
