<%= simple_form_for(@user_profession_detail) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :emp_id %>
    <%= f.input :doj %>
    <%= f.input :status %>
    <%= f.input :reporting_manager %>
    <%= f.association :user %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
