<p id="notice"><%= notice %></p>

<p>
  <strong>Birth place:</strong>
  <%= @personnel_detail.birth_place %>
</p>

<p>
  <strong>Caste:</strong>
  <%= @personnel_detail.caste %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @personnel_detail.nationality %>
</p>

<p>
  <strong>Voter:</strong>
  <%= @personnel_detail.voter_id %>
</p>

<p>
  <strong>Aadhar no:</strong>
  <%= @personnel_detail.aadhar_no %>
</p>

<p>
  <strong>Marital status:</strong>
  <%= @personnel_detail.marital_status %>
</p>

<p>
  <strong>Anniversary date:</strong>
  <%= @personnel_detail.anniversary_date %>
</p>

<p>
  <strong>Spouse name:</strong>
  <%= @personnel_detail.spouse_name %>
</p>

<p>
  <strong>No of children:</strong>
  <%= @personnel_detail.no_of_children %>
</p>

<p>
  <strong>Personnel email:</strong>
  <%= @personnel_detail.personnel_email %>
</p>

<p>
  <strong>Personnel email1:</strong>
  <%= @personnel_detail.personnel_email1 %>
</p>

<p>
  <strong>Personnel mobile:</strong>
  <%= @personnel_detail.personnel_mobile %>
</p>

<p>
  <strong>Personnel mobile1:</strong>
  <%= @personnel_detail.personnel_mobile1 %>
</p>

<p>
  <strong>Emergency contact number:</strong>
  <%= @personnel_detail.emergency_contact_number %>
</p>

<p>
  <strong>User:</strong>
  <%= @personnel_detail.user %>
</p>

<%= link_to 'Edit', edit_personnel_detail_path(@personnel_detail) %> |
<%= link_to 'Back', personnel_details_path %>
