<!DOCTYPE html>
<html>
<head>
  <%= render partial: 'layouts/head' %>
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <h2><%= link_to 'Go green', ''%></h2>
    </div>
    <div id="navbar-main" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to '' ,''%>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Masters <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'Department' ,departments_path%></li>
            <li><%= link_to 'Designation' ,designations_path%></li>
            <li><%= link_to 'Grade' ,grades_path%></li>
            <li><%= link_to 'User Type' ,user_types_path%></li>
            <li class="divider"></li>
            <li><%= link_to 'Blood Group' ,blood_groups_path%></li>
            <li><%= link_to 'Holiday' ,holidays_path%></li>
            <li><%= link_to 'Language' ,languages_path%></li>
            <li><%= link_to 'Location' ,locations_path%></li>
            <li><%= link_to 'Religion' ,religions_path%></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      	<%if user_signed_in?%>
        	<li><%= link_to 'Logout', destroy_user_session_path, method: 'delete' %></li>
        <%else%>
        	<li><%= link_to 'Login', new_user_session_path, method: 'get' %></li>
        <%end%>
      </ul>
    </div>
  </div>
</div>
<%= yield %>

</body>
</html>
